stages:
  - generate
  - trigger

variables:
  code: ""
  system: ""

generate_matrix:
  stage: generate
  script:
    - bash ./scripts/matrix_generate.sh code=$code system=$system
  tags:
    - general
  artifacts:
    paths:
      - .gitlab-ci.generated.yml
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[skip ci\]/
      when: never
    - changes:
        - "README.md"
        - "ADD_APP.md"
        - "result_server/templates/*.html"
        - ".kiro/**/*"
        - ".vscode/**/*"
      when: never
    - when: always

trigger_child_pipeline:
  stage: trigger
  trigger:
    include:
      - artifact: .gitlab-ci.generated.yml
        job: generate_matrix
    strategy: depend
  needs: [generate_matrix]
